@beige : #E3DBBF;
@brick : #AA0000;
@lightgreen : #A0DBBF;
@black : black;

.box {
    box-shadow: 0 1px 5px 0 #4A4A4A;
}

.font(@family, @size, @weight: normal) {
    font-family: @family;
    font-size: @size;
    font-weight: @weight;
}


.droid(@size, @weight: normal) {
    .font('Droid Sans Mono', @size, @weight);
}

.alegreya(@size, @weight: normal) {
    .font('Alegreya SC', @size, @weight);
}

body {
    font-size: 13px;
    font-family: serif, sans-serif;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }
}

.container {
    width: 1150px;
    margin: 20px auto;
    background-color: @beige;
    border: thin solid @black;
}

.header {
    text-align: center;
    margin: 20px 0;

    .description {
        .alegreya(18px);
        text-transform: uppercase;
        word-spacing: 3px;
        letter-spacing: 1.5px;
    }

    .title {
        .droid(36px, bold);
        text-transform: uppercase;
        color: @brick;
    }
}

.content {
    background-color: white;
    padding: 6px;
    width: 1050px;
    margin: 0 auto 30px;
    border-style: solid;
    border-color: @lightgreen;
    border-width: 6px 12px;

    .menu {
        margin: 6px auto;
        width: 100%;

        .item {
            float: left;
            background-color: @beige;
            margin: 0 12px;
            .box;
        }

        .item a img {
            height: 185px;
            width: 237px;
            vertical-align: bottom;
            background-color: @beige;
        }

        .item .title {
            font-family: serif;
            text-decoration: none;
            color: @black;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: -5px;
            padding: 4px 0 0 4px;

        }

        .item .title:first-letter {
            font-size: 38px;
        }
    }

    .horizontal_spacer {
        background-color: @black;
        height: 2px;
        margin: 10px auto;
        width: 96%;
    }

    .vertical_spacer {
        background-color: @black;
        float: left;
        height: 205px;
        margin-top: 10px;
        width: 2px;
    }
}

